body {
  margin: 0;
  padding: 0;
}

.question-form {
  height: 100vh;
  background: #586b7d;
  margin: 0;
  /* background-image: url("../img/cherry-blossoms.jpg"); */
  /* background-size: cover; */
}

.question-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito';
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.question-text-item {
  margin-top: 100px;
}

.questionnaire-input {
  display: flex;
  width: 70vw;
  height: 100px;
  font-size: 60px;
  /* padding: 5px; */
  cursor: text;
  text-align: center;
  outline: none;
  font-family: 'Nothing you could do';
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.city-tile {
  display: flex;
  width: 70vw;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #faebd7; */
  margin-top: 4vh;
}

.city-image {
  display: inline;
  height: 20vw;
  width: 20vw;
  -webkit-filter: brightness(100%);
  border-radius: 3px;
}

.city-image:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
