body {
  margin: 0;
  padding: 0;
}

.question-form {
  height: 100vh;
  background-color: #faebd7;
  margin: 0;
  /* background-image: url("../img/cherry-blossoms.jpg"); */
  /* background-size: cover; */
}

.question-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align: center;
}

.question-text-item {
  margin-top: 300px;
}

.questionnaire-input {
  width: 100vw;
  height: 50px;
  font-size: 45px;
  padding: 5px;
  cursor: text;
  text-align: center;
  outline: none;
}

.city-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #faebd7;
}

.city-image {
  height: 250px;
  width: 250px;
}
